.boxyourgoal{

    font-weight:600;
    border: 1px solid #e4e6e9;
    border-radius: 10px;
    width: 488px;
    padding: 10px;
    height: 52px;
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;

    
    
    /* background-color: aqua; */
}

.boxyourgoal :hover{
    background-color: #e8f0fd;
}
.inputback{
    background-color: #e8f0fd !important;
    
}

/* .form-group{
    position: relative;
    margin: 20px 0;
} */

.headers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:15px;
    padding: 15px;
    
}
.head{
    font-size: x-large  ;
    font-weight: bold;
    color: #0e5426;
    padding: 10px;
   
}
.custom-scroll::-webkit-scrollbar {
    width: 4px; /* Thin scrollbar */
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #f0f0f0; /* Off-white thumb */
    border-radius: 4px;
  }
  
  /* Firefox support */
  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #f0f0f0 transparent;
    
  }

 