.boxyourgoal{

    font-weight: 400;
    border: 1px solid #e4e6e9;
    width: 488px;
    padding: 5px;
    height: 52px;
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    
    /* background-color: aqua; */
}

